.cardContent{
    text-align: center;
    display: flex;
    flex-direction: column;
}
.content{
    width: 70%;
 flex-wrap: wrap;
    align-self: center;
}
 
h1{
    font-size:50px;
}
.header{
    padding-top: 30px;
}

@media only screen and (max-width: 600px) {
    .content{
        width: 90%;
     flex-wrap: wrap;
        align-self: center;
    }
  }


  html {
    background: #000;
    -webkit-font-smoothing: antialiased;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
    padding: 0;
  }
  
  body {
    margin: 0;
    padding: 0;
  }
  
  #navbar {
    transition: 0.5s ease-in-out;
  }
  
  nav {
    background: Transparent;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: 7%;
  }
  
  nav ul li {
    display: inline;
    margin: 0;
    margin-left: 18px;
    font-size: 13px;
    font-weight: bold;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #f1f1f1;
    text-transform: uppercase;
    font-family: sans-serif;
  }
  
  nav ul li a:hover {
    border-bottom: 1.5px solid #f1f1f1;
  }
  
  .logo {
    width: 200px;
    height: auto;
  }
  
  .ul2 a {
    font-size: 12px;
    color: #8b939b;
    margin: 0;
    padding: 0;
    margin-left: 10px;
    text-align: center;
  }
  
  .ul2 a:hover {
    border-bottom: 1.5px solid #8b939b;
  }
  
  .ul2-holder {
    display: inline;
    margin-left: 100px;
  }
  
  .firstcontent {
    background: url(https://cdn.vox-cdn.com/uploads/chorus_image/image/48924481/SpaceX_Falcon_9_launch.0.0.jpg)
      rgba(0, 0, 0, 0.3) no-repeat center center;
    background-blend-mode: multiply;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 40px;
    margin: 0;
  }
  
  .firsttext {
    padding: 300px 0px 110px 110px;
    position: relative;
    z-index: 2;
    color: #fff;
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: lighter;
  }
  
  .butt {
    width: 160px;
    height: 60px;
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 600;
    background: none;
    border: 3px solid #fff;
    border-radius: 1px;
    color: #fff;
    transition: all 0.17s ease-in-out;
  }
  
  .butt:hover {
    background: #fff;
    color: #000;
  }
  
  .secondcontent {
    background: url(https://cdn.shopify.com/s/files/1/0173/8204/7844/articles/IMG_20200530_145344_2000x.jpg?v=1590994088)
      rgba(0, 0, 0, 0.4) no-repeat center center;
    background-blend-mode: multiply;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 40px;
    margin: 0;
  }
  
  .secondtext {
    font-weight: lighter;
    padding: 340px 160px 80px 0px;
    position: relative;
    z-index: 2;
    color: #fff;
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 20px;
    text-align: right;
  }
  
  .thirdcontent {
    background: #000;
    padding-top: 0;
    margin: 0;
  }
  
  .thirdtext {
    display: inline-block;
    padding: 0px 0px 0px 110px;
    position: relative;
    z-index: 2;
    color: #fff;
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 20px;
    width: 30%;
    font-weight: lighter;
  }
  
  .thirdtext p {
    font-size: 16px;
    font-family: Barlow;
    text-transform: none;
    word-spacing: 2px;
    font-weight: lighter;
  }
  
  .dragondockvid {
    display: inline-block;
    margin: 60px 50px 60px 50px;
  }
  
  .fourthcontent {
    background: url(https://img2.goodfon.com/wallpaper/nbig/e/95/spacex-falcon-9-dragon-fire.jpg)
      rgba(0, 0, 0, 0.6) no-repeat center center;
    background-blend-mode: multiply;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 40px;
    margin: 0;
  }
  
  .fourthtext {
    padding: 180px 160px 80px 0px;
    position: relative;
    z-index: 2;
    color: #fff;
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 20px;
    text-align: right;
    font-weight: lighter;
  }
  
  .fourthtext p {
    font-size: 16px;
    font-family: Barlow;
    text-transform: none;
    word-spacing: 2px;
    font-weight: lighter;
  }
  
  .foot {
    display: flex;
    color: #fff;
    list-style: none;
    margin: 0;
    padding: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    margin-left: 20%;
  }
  
  .foot li {
    text-align: center;
    margin-left: 2%;
    font-size: 12px;
    font-weight: 500;
    font-family: sans-serif;
  }
  
  .author {
    font-size: 12px;
    color: #8b939b;
    margin: 0;
    padding: 0;
    margin-left: 10px;
    text-align: center;
  }
  
  .author a {
    text-decoration: none;
    color: #ff939b;
    font-weight: 600;
  }
  
  a {
    text-decoration: none;
    color: #fff;
  }
  
  a:hover {
    color: #bbb;
    transition-timing-function: ease-in;
    transition: 0.2s;
  }
  
  .extrapadding {
    visibility: hidden;
  }

  







  /* / */

  
.jumbotron {
    color: #ffffff;  
    background-color: #343d46;
}

.navbar-inverse {
    background-color: #343d46;
}

.navbar-inverse .navbar-brand {
    color: #ffffff;
}

.navbar-inverse .navbar-nav>li>a {
    color: #ffffff;
}

a {
    color: #c0c5ce;
}

a:hover {
    color: #65737e;
}

.jumbotron p.credits {
    font-size: 15px;
}